<div class="register-box">
  <div class="logo-header">
    <img src="/assets/inscribirse_.gif" alt="Logo de Punto de Pago Air" class="logo-image" />
  </div>
  <h2>Registro de Usuario</h2>
  <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="user-box">
      <input type="text" formControlName="firstName" required />
      <label>Nombre</label>
      <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.dirty || registerForm.get('firstName')?.touched)" class="text-danger">
        <small *ngIf="registerForm.get('firstName')?.errors?.['required']">El nombre es obligatorio.</small>
      </div>
    </div>
    <div class="user-box">
      <input type="text" formControlName="lastName" required />
      <label>Apellido</label>
      <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)" class="text-danger">
        <small *ngIf="registerForm.get('lastName')?.errors?.['required']">El apellido es obligatorio.</small>
      </div>
    </div>
    <div class="user-box">
      <input type="text" formControlName="username" required />
      <label>Usuario</label>
      <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)" class="text-danger">
        <small *ngIf="registerForm.get('username')?.errors?.['required']">El nombre de usuario es obligatorio.</small>
      </div>
    </div>
    <div class="user-box">
      <input type="password" formControlName="password" required />
      <label>Contraseña</label>
      <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="text-danger">
        <small *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="registerForm.invalid">Registrar</button>
  </form>
</div>
