<div class="login-box">
  <div class="logo-header">
    <img src="/assets/perfil-del-usuario.png" alt="Logo de Punto de Pago Air" class="logo-image" />
  </div>
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="login($event)">
    <div class="user-box">
      <input 
        type="text" 
        name="username" 
        [(ngModel)]="loginData.username" 
        required 
        (keydown.enter)="login($event)" 
      />
      <label>Nombre de usuario</label>
    </div>
    <div class="user-box">
      <input 
        type="password" 
        name="password" 
        [(ngModel)]="loginData.password" 
        required 
        (keydown.enter)="login($event)" 
      />
      <label>Contraseña</label>
    </div>
    <div class="button-container">
      <a href="#" (click)="login($event)" class="btn-custom">
        Iniciar Sesión
      </a>
    </div>
  </form>
  <div class="register-button">
    <button class="btn btn-secondary" routerLink="/register" style=" border: none; background: none;">
        <img src="assets/inscribirse.gif" alt="Registrarse" style="width: 80px; height: 60px;">
    </button>
</div>

</div>
