.modal-content {
    border-radius: 12px;
    background-color: #ffffff;
    padding: 1.5rem;
    outline: none;
    border: none;
    box-shadow: none;
}

.modal-header {
    position: relative;
    padding: 15px;
    border-bottom: none;
    background-color: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
    color: #004884;
    text-align: center;
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    background-color: #D8E2FF;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close::before,
.btn-close::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #004884;
    transform-origin: center;
}

.btn-close::before {
    transform: rotate(45deg);
}

.btn-close::after {
    transform: rotate(-45deg);
}

.btn-close:hover {
    background-color: #ccddec;
}


.modal-body {
    padding: 15px;
    background-color: #ffffff;
}

.form-control,
.form-select {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

.modal-footer {
    padding: 15px;
    border-top: none;
    justify-content: flex-end;
    background-color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden; 
  }

.btn-save {
    background-color: #005CBB;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: #00408a;
}

.btn-cancel {
    font-size: 16px;
    font-weight: 550;
    background-color: #D8E2FF;
    color: #004884;
    border-radius: 25px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #ccddec;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 768px) {
    .modal-header,
    .modal-body,
    .modal-footer {
        padding: 10px;
    }

    .btn-save,
    .btn-cancel {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }

    .btn-close {
        width: 28px;
        height: 28px;
        top: 10px;
        right: 10px;
    }

    .btn-close::before,
    .btn-close::after {
        width: 14px;
    }
}